[2021-01-12 13:32] atharvagadkari05 opened #5 "Adding designs of Glass Morphism."
Adding some amazing designs of glass morphism.
It will include Screenshots, videos, Figma/AdobeXd prototypes.

[2021-01-12 13:34] atharvagadkari05 commented on #5
Can you please assign me this issue???

[2021-01-12 14:35] design-systems-oss opened #6 "[Testing] Testing CSS Class Methods"
Hello Fellow Testers, Looking for bugs? We have so many of them and we need you to resolve them.

**Describe the bug**
There are so many CSS Class methods which needs to be tested before production.

**How to get started?**
1. Go to `src/lib/...`
2. Select a feature folder for which you want to write tests for.
3. Write Test Methods for different scenarios in the respective HTML Module of that fol

[2021-01-12 19:15] design-systems-oss opened #9 "[Designing] Logo needed for Eccentric Touch"
## Description
We need a clean logo for Eccentric Touch Project.

[2021-01-13 08:53] design-systems-oss opened #10 "[Documentation] Content for README file needed"
## Message
This project doesn't have a proper `README` file till now.

## Issue Description
This project doesn't have a proper `README` file till now. We need content which a new contributor can refer to in order to get started with contribution. The content should contain all the necessary points listed below:
- Introduction (Nice Description)
- Getting Started
- How to use?
- How to setup
- Vers

[2021-01-21 03:10] yashsehgal opened #24 "[Development] Image Responsiveness"
**Describe the bug**
Images library has a flex class that is not showing its actual height and width. You need to write some CSS/SCSS code to fix this issue.

### How to change
1. Go to `src/lib/images/images.scss`
3. Scroll down in the file and find a class named as `cartoon_image_container`
4. Test that class with different images of different sizes and observe the error and solve this problem.

[2021-02-01 08:05] yashsehgal commented on #6
### Testing Needed
@Jaspreet099, There are more features that need to be tested. After Implementation of the latest theme, Test CSS Methods in their respective test modules. Hope you got my point.

[2021-02-03 19:04] atharvagadkari05 opened #27 "Adding Header Designs"
Here we will add various designs for header related content.

Only Header!!!!!

[2021-02-03 19:09] yashsehgal commented on #27
### Design Research Issue

I am assigning this issue to @atharvagadkari05  and other team members(@Jaspreet099 and @Kp779).

[2021-02-27 18:24] yashsehgal opened #43 "Header Design CSS Implementation"
**Describe the solution you'd like**
This issue is for header design sprints. Here all the designs for header v.1.0 will be listed for agile development.

**Describe alternatives you've considered**
Header Design Tags are listed below:
- [x] Header Designs by @Jaspreet099
- [x] Header Designs by @atharvagadkari05
- [x] Header Designs by @Kp779
- [x] Header Designs by @yashsehgal

**Testing Sprints

[2021-03-10 18:02] #43 closed

[2021-03-13 09:27] yashsehgal opened #51 "Padding Methods"

[2021-03-13 09:35] yashsehgal opened #53 "Flex Properties Implementation using SCSS/CSS"
**Is your feature request related to a problem? Please describe.**
Eccentric Touch needs a flex-properties system. Classes with various flex properties (Ex: inline, block, flex, etc).

[2021-03-13 09:36] #51 closed

[2021-03-14 23:16] nicoolel commented on #53
hello is this issue available for assignment?

[2021-03-15 02:41] yashsehgal commented on #53
Hello @nicoolel

Yes, This issue is open for all. Let me tell you what exactly we need to do.
So basically you need to make CSS/SCSS Class methods to implement all the display properties such as flex, inline-flex, block, etc.

First, go through the codebase and understand the project as this will give you a brief idea about the project. The start writing code for this issue in the `src/lib/content

[2021-03-15 02:57] #5 closed

[2021-03-15 03:02] yashsehgal opened #58 "Input Elements Design"
**Is your feature request related to a problem? Please describe.**
Need to design a set of all input type elements.

**Describe the solution you'd like**
Write structured class-based methods to implement all these features. Also, Test your methods in the respective test files, for this issue, it'll be `src/lib/components/componentTest.htm`

[2021-03-18 14:46] #53 closed

[2021-03-20 19:16] #10 closed

[2021-03-30 16:57] #6 closed

[2021-03-30 16:57] #9 closed

[2021-04-04 17:28] yashsehgal opened #86 "JS Tests for Testing CSS Methods"
**Is your feature request related to a problem? Please describe.**
As we are performing most of the unit tests manually, We need a JS Code to do so.

**Describe the solution you'd like**
We will create various DOM Objects which will use all the classes and IDs, precisely.

[2021-04-04 17:38] yashsehgal opened #88 "[Sprint 01]: Secondary Buttons"
![image](https://user-images.githubusercontent.com/62352288/113516922-9effd280-959a-11eb-8a65-9ffdd997fe22.png)

[2021-04-05 07:50] yashsehgal commented on #88
@atharvagadkari05 has worked on this issue and made a PR.
PR Reference: #93

[2021-04-05 07:50] #88 closed

[2021-04-05 09:41] yashsehgal opened #94 "Button onfocus border issues"
**Describe the bug**
The button on focusing is removing the borders of the secondary button.

[2021-04-05 09:46] #94 closed

[2021-04-06 06:50] yashsehgal opened #99 "JSDeliver - CDN Link is not working"
**Describe the bug**
After generating a CDN Link for the `eccentric.css` module, We are unable to fetch the CSS Data.

[2021-04-06 07:55] yashsehgal commented on #99
https://cdn.jsdelivr.net/gh/DesignSystemsOSS/eccentrictouch@v2.0/src/lib/eccentric.css

This is the test CDN link we are trying to use

[2021-04-06 08:11] Rahma-AlWadhahi commented on #99
I’m not sure why, but when I removed `@v2.0` from the link. I could see the css data.

[2021-04-06 08:14] yashsehgal commented on #99
Wait, That's great @Rahma-AlWadhahi.
But, How it is possible 😆

[2021-04-06 08:18] Rahma-AlWadhahi commented on #99
Maybe when the CDN was created, it didn't have a specified version which led to this mistake 🤔
I'm just guessing because I haven't done it before 😅

[2021-04-06 08:19] yashsehgal commented on #99
Yeah, That's not an issue. But what is happening that it's showing the code from the master branch, but the code is different on all the branches. 🤔

[2021-04-06 08:23] yashsehgal commented on #99
Yeah But that's alright, you did a nice job. It was a very silly bug 🤓 👍🏽

[2021-04-06 08:23] #99 closed

[2021-04-06 09:33] yashsehgal opened #102 "Button CSS is not working"
CSS Button Method for this property is not working. Although, There's no such typo error in the codebase.

**CSS Method**
![image](https://user-images.githubusercontent.com/62352288/113690375-f318cd00-96e8-11eb-8d51-93a548db1ea5.png)

**This is the implementation that is not working**
![image](https://user-images.githubusercontent.com/62352288/113690494-180d4000-96e9-11eb-8e79-687ee1fa4e81.png)

*

[2021-04-06 11:33] #102 closed

[2021-04-07 16:18] Kp779 opened #107 "CSS for radio buttons"
**Is your feature request related to a problem? Please describe.**
This is just an addition to the buttons section.

**Describe the solution you'd like**
Creating radio buttons keeping in mind the color palette

[2021-04-07 17:07] atharvagadkari05 commented on #107
Ok, @Kp779 you can start working on it.
keep us updated.

[2021-04-07 17:19] yashsehgal opened #108 "CSS Implementation for Toggle Options"
**Is your feature request related to a problem? Please describe.**
This is a feature request v2.0 (Sprint 02). This project needs all possible CSS Properties and here we have a feature request to implement toggle options. We need to implement this feature as shown below.
![image](https://user-images.githubusercontent.com/62352288/113907558-26478300-97f3-11eb-8eaa-a4d15ccdc3cb.png)

Refer to this [

[2021-04-07 17:22] yashsehgal opened #109 "CSS Implementation for Select options"
**Is your feature request related to a problem? Please describe.**

This is a feature request v2.0 (Sprint 02). This project needs all possible CSS Properties and here we have a feature request to implement select options. We need to implement this feature as shown below.
![image](https://user-images.githubusercontent.com/62352288/113908144-d74e1d80-97f3-11eb-99b4-5318f2f07ea6.png)

Refer to this

[2021-04-07 17:36] atharvagadkari05 opened #110 "CSS Implementation for Textboxes"
This is a feature request v2.0 (Sprint 02). This project needs all possible CSS Properties and here we have a feature request to implement text boxes. We need to implement this feature as shown below.

![image](https://user-images.githubusercontent.com/74293435/113908640-64917200-97f4-11eb-8348-b1f86c374fc3.png)

- [x] Textboxes
- [x] Textareas

Refer to this document for detailed info.

Also, Let

[2021-04-07 17:42] atharvagadkari05 opened #111 "CSS Implementation for Checkboxes"
This is a feature request v2.0 (Sprint 02). This project needs all possible CSS Properties and here we have a feature request to implement Checkboxes. We need to implement this feature as shown below.

![image](https://user-images.githubusercontent.com/74293435/113910578-9d324b00-97f6-11eb-8ffb-68496f14faef.png)

Refer to this document for detailed info.

Also, Let's work together, Join our discor

[2021-04-11 15:55] yashsehgal opened #115 "[NEW FEATURES]: More input components CSS Implementation is required"
**Is your feature request related to a problem? Please describe.**
There are so many input features remaining as of now. Such as
![image](https://user-images.githubusercontent.com/62352288/114311359-10e09a80-9b0c-11eb-8f56-f8e827d58fd9.png)
![image](https://user-images.githubusercontent.com/62352288/114311373-1c33c600-9b0c-11eb-895a-eaf0a5868b5d.png)
![image](https://user-images.githubusercontent.

[2021-04-11 17:22] yashsehgal commented on #115
- [ ] Button
- [ ] Checkbox

[2021-04-11 17:28] Jaspreet099 commented on #115
- [ ] btn
- [ ] button
- [ ] checkbox
- [ ] color
- [ ] date
- [ ] datetime
- [ ] datetime-local
- [ ] email
- [ ] file
- [ ] hidden
- [ ] image
- [ ] month
- [ ] number
- [ ] password
- [ ] radio
- [ ] range
- [ ] reset
- [ ] search
- [ ] submit
- [ ] tel
- [ ] text
- [ ] time
- [ ] url
- [ ] week

[2021-04-11 17:30] yashsehgal commented on #115
These are assigned to @yashsehgal
![image](https://user-images.githubusercontent.com/62352288/114314785-c6661a80-9b19-11eb-9cfb-68e79b03229f.png)

[2021-04-11 17:33] Jaspreet099 commented on #115
these assigned to @Jaspreet099
![image](https://user-images.githubusercontent.com/75212002/114314863-15ac4b00-9b1a-11eb-9de0-49be90912fe0.png)

[2021-04-11 17:35] atharvagadkari05 commented on #115
![image](https://user-images.githubusercontent.com/74293435/114314944-6fad1080-9b1a-11eb-9c3e-0597af8d2e3f.png)

[2021-04-12 15:10] yashsehgal opened #120 "Onclick outline to be removed from primary button components"
**Describe the bug**
The primary buttons are still showing the black outline on-click event. Remove the onf-ocus effect using CSS

**Before on-click event**
![image](https://user-images.githubusercontent.com/62352288/114417443-3aaec580-9bcf-11eb-9202-73e567e2c1c3.png)

**After on-click event**
![image](https://user-images.githubusercontent.com/62352288/114417512-48644b00-9bcf-11eb-9dc1-abe9d9249f3

[2021-04-13 07:54] DevCassie opened #125 "Wrong version on the docs."
**Describe the bug**
When you read on how to link eccentric to your webpage it says it's at version 1.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://designsystemsoss.github.io/eccentrictouch.docs/#/?id=documentation-eccentric-touch-v20
2. Click on https://designsystemsoss.github.io/eccentrictouch.docs/#/?id=how-to-link
3. See error

**Expected behavior**
I think the version

[2021-04-13 08:00] yashsehgal commented on #125
Thanks for raising this issue @DevCassie

[2021-04-14 06:27] atharvagadkari05 commented on #125
Issue #125 has been resolved by @atharvagadkari05.
I'm closing this issue.

[2021-04-14 06:27] #125 closed

[2021-04-14 06:41] yashsehgal commented on #125
Alright @atharvagadkari05

[2021-04-14 07:25] yashsehgal opened #128 "[NEW CONTRIBUTOR, OPEN THIS]: Need to add contributors name/details in the README.md file"
If you have raised a valid/helpful issue, discussion idea, and raised a PR with valuable code changes then congrats!! You have contributed to this project. Now as you have done your first contribution in this project, we are giving you a chance to highlight yourself.

Add your GitHub profile photo, Any personal profile URL of your choice, and an emoji that you like.
![image](https://user-images.gi

[2021-04-16 11:30] yashsehgal opened #129 "[Component Implementation]: Header Component CSS/JS properties to be added"
**Is your feature request related to a problem? Please describe.**
We need to create a set of linked CSS Properties for our header component. Its implementation should be this easy that the user just has to create a header component using the header tag `<header>` and an options list using the `<li>` tag.

This would give the user a Header like this ⬇️
![image](https://user-images.githubuserconten

[2021-04-17 17:26] yashsehgal opened #133 "[Docs]: Add a How to Contribute Section in the README"
**Is your feature request related to a problem? Please describe.**
There should a section to explain to new open source contributors that How to start contributing to this project. From Forking, Cloning to Making Bug Reports, Feature requests. Create short-concise but informative content for this section.

[2021-04-17 18:37] yashsehgal opened #136 "[ISSUE_TEMPLATE]: Need to add 2 new ISSUE_TEMPLATES"
**Is your feature request related to a problem? Please describe.**
We are planning to add 2 new workflows, An issue template for applying for maintainer request and one for joining the Organization.

Create 2 ISSUE_TEMPLATES modules as:
[code]

Add respective content for the templates.

[2021-04-18 07:08] yashsehgal opened #144 "[DOCS]: Input/Form elements are not correct in the documentation"
**Describe the bug**
The form elements have not inherited the CSS properties which are in the Code.

![image](https://user-images.githubusercontent.com/62352288/115137289-f8f4a380-a042-11eb-8e76-34584433498b.png)

[2021-04-18 07:33] yashsehgal opened #145 "[DOCS]: Update README file"
**Is your feature request related to a problem? Please describe.**
A Need to change some of the sections in the README and update them according to the new features.

Things to add
- [x] Project Introduction
- [x] Version Releases
- [x] How to contribute
- [x] Community Guidelines

[2021-04-18 13:47] yashsehgal opened #151 "(JS-0125) Found the usage of undeclared variables"
## Description
Variable that are not defined but they are being used in the code. This would give a potential errors that may break the code. It might have happen due to mistype of the variable name. &lt;!--more--&gt; Potential ReferenceErrors may result from misspellings of variable and parameter names, or accidental implicit …

## Occurrences
There are 24 occurrences of this issue in the reposit

[2021-04-19 03:29] yashsehgal commented on #110
These features are being implemented with other form elements.

Please take a look at the issue (#144 ) - Form elements are not linked with the new CSS updates.

[2021-04-19 03:47] yashsehgal commented on #145
This issue is being resolved and I am going to close it now.

[2021-04-19 03:48] #145 closed

[2021-04-19 03:49] yashsehgal commented on #110
The issue has been resolved at the docs site.
Please refer to the URL below, everything is working now.

Docs URL: https://designsystemsoss.github.io/eccentrictouch.docs/#/?id=introduction

[2021-04-19 03:49] #110 closed

[2021-04-19 10:31] #144 closed

[2021-04-19 10:31] #133 closed

[2021-04-19 10:32] #86 closed

[2021-04-19 10:32] #107 closed

[2021-04-19 10:32] #115 closed

[2021-04-19 10:33] #136 closed

[2021-04-19 10:34] #111 closed

[2021-04-19 10:34] #109 closed

[2021-04-19 10:35] #128 closed

[2021-04-19 13:29] yashsehgal opened #157 "Need to create a complete Style Guide for the Eccentric Touch"
**Is your feature request related to a problem? Please describe.**
This is a component CSS Library and later It'll be having CSS Methods for basic & high-level components too. In Order to make the implementation easy for the users, we need to start working on a Styleguide for our project. Which will be containing things like Implementation, Usage, Variations, Adding external CSS Components into ou

[2021-04-23 02:22] yashsehgal opened #158 "Implementation of Cards"
**Is your feature request related to a problem? Please describe.**
We need to implement certain card properties in the Library. The cards will be of two types: Portrait and Landscape.
This particular feature requires testing and more development.

We are focusing on the easy implementation of the cards.
![image](https://user-images.githubusercontent.com/62352288/115808780-8f8ce000-a408-11eb-8b25-c

[2021-04-23 02:29] yashsehgal opened #159 "Input:Month is not working correctly"
**Describe the bug**
The CSS properties for form/input elements is not being implemented correctly on the input:month component.

The usual components are looking like this
![image](https://user-images.githubusercontent.com/62352288/115809390-a41da800-a409-11eb-979c-c89f0ef2fa7a.png)

But the input:month component is breaking
![image](https://user-images.githubusercontent.com/62352288/115809348-8d

[2021-04-24 17:00] #159 closed

[2021-05-03 10:09] yashsehgal opened #169 "Add CSS classes for setting background colors"
**Is your feature request related to a problem? Please describe.**
Classes for setting primary and secondary colors as background should be created.

**Describe the solution you'd like**
Create classes with the pattern `.et-bg-COLOR NAME` and `.et-bg-COLOR NAME-light` where both the patterns are for primary and secondary, respectively.

[2021-05-03 10:13] yashsehgal opened #171 "Add font family classes"
Create a set of classes to directly access the font families of eccentric touch.

[2021-05-05 09:25] yashsehgal opened #172 "[FEATURE]: Implementation of Progress Bars"
**Description**
CSS for implementing progress bars is needed. The length of the progress with be operated by various classes defining various lengths for the progress bars.

**How to implement this feature**
There will be 2 divisions, one inside another. The parent `div` will act as a complete bar and the internal `div` will be operated accordingly by using the width property in CSS.

[2021-05-05 15:15] yashsehgal commented on #172
This is a demo UI of how the progress bars will look like.
![image](https://user-images.githubusercontent.com/62352288/117164960-b670ec00-ade2-11eb-839f-66d8beb03692.png)

Also, the class names are also given, kindly follow the same convention

[2021-05-05 19:42] yashsehgal commented on #172
I have created something like this, the default color of the progress will be `et-purple-primary` as purple is love ❤️ .
Also, It's changeable by using background-color property.
![image](https://user-images.githubusercontent.com/62352288/117199685-1928ae80-ae08-11eb-8121-5f087a33933e.png)

[2021-05-13 10:34] #172 closed

[2021-05-21 16:48] yashsehgal opened #175 "Need to add some tools such as Lint, Babel etc"
**We need to add some tools/modules in the project**
- [x] ESLints
- [x] Babel Files

[2021-05-21 16:57] verma-kunal opened #176 "Hide Packages"
Suggested to hide packages if not using !!

[2021-05-21 16:58] verma-kunal opened #177 "Hide Wiki Tab"
Suggested to hide Wiki Tab if not being used !!

[2021-05-21 21:12] yashsehgal opened #182 "(JS-0125) Found the usage of undeclared variables"
## Description
Variable that are not defined but they are being used in the code. This would give a potential errors that may break the code. It might have happen due to mistype of the variable name. &lt;!--more--&gt; Potential ReferenceErrors may result from misspellings of variable and parameter names, or accidental implicit …

## Occurrences
There are 12 occurrences of this issue in the reposit

[2021-05-21 21:39] yashsehgal commented on #177
Thanks @verma-kunal for raising this issue 👍🏽

[2021-05-21 21:40] #177 closed

[2021-06-02 04:20] #171 closed

[2021-06-02 04:20] #120 closed

[2021-06-02 04:22] yashsehgal commented on #176
Thanks for raising this issue. Actually, We have created an NPM package but it's still under the testing/development phase that's why we have not removed the package section.

[2021-06-02 04:22] #176 closed

[2021-06-02 05:06] #175 closed

[2021-06-03 05:38] ItsMeIshan commented on #182
hey, @yashsehgal I wanna know that is this issue same as for issue #151 ?
and can I work on this issue?

[2021-06-03 05:41] yashsehgal commented on #182
Yes @ItsMeIshan It's the same as #151 as it's an auto-generated issue.
And, Sure! You can get started with this.

[2021-06-03 05:43] ItsMeIshan commented on #182
sure! @yashsehgal

[2021-06-04 15:25] SHUBHANSHU-creator commented on #151
can u help me to get started with this issue, which js file has an undeclared variable?

[2021-06-04 15:33] yashsehgal commented on #151
Hey @SHUBHANSHU-creator 👋🏽
Actually, This is issue has been resolved as of now. We are about to close it :)

[2021-06-04 15:33] #151 closed

[2021-06-04 15:34] yashsehgal commented on #182
This issue has been resolved :)

[2021-06-04 15:34] #182 closed

[2021-06-04 17:04] Jaspreet099 opened #211 "[FEATURE]: Implementation of Progress Bars"
### Description
CSS for implementing progress bars is needed. The length of the progress with be operated by various classes defining various lengths for the progress bars.

### How to implement this feature
There will be 2 divisions, one inside another. The parent div will act as a complete bar and the internal div will be operated accordingly by using the width property in CSS.

This is a demo U

[2021-06-04 17:11] Jaspreet099 opened #212 "[FEATURE]: Implementation of Accordion"
### Description
An accordion menu is a vertically stacked list of headers that can be clicked to reveal or hide content associated with them.

### Implementation (Design)
![image](https://user-images.githubusercontent.com/75212002/120838870-efd57c80-c585-11eb-8447-0bc013354ca2.png)

[2021-06-04 18:01] yashsehgal commented on #212
This issue is especially for LGMSoC Contributors.

[2021-06-04 18:03] yashsehgal commented on #211
Thanks for raising this issue @Jaspreet099 But we have already implemented this feature.
Please refer to #172

[2021-06-04 18:03] #211 closed

[2021-06-05 10:21] yashsehgal opened #214 "To add automatic releases"
We are planning to add github-action that will automate the releasing process.
This release will be having a properly defined description template.

[2021-06-05 10:49] Aiswarika commented on #212
Can I work on this issue?

[2021-06-05 10:54] Aiswarika opened #213 "Scroll To Top button"
I would like to add a scroll to the top button. Please assign me this issue.

[2021-06-05 12:38] VaishnaviNigam25 commented on #213
I want to work on this.Kindly assign me or let me know if someone else is working

[2021-06-05 12:55] yashsehgal commented on #213
Hey @VaishnaviNigam25 👋🏽
Thanks for raising this issue, we can work on that. Can you please elaborate on the implementation for the same?
Also, Before implementing this feature, you first need to design it in this [Figma file](https://www.figma.com/file/yqbBQK5NKqkzobrsSpj2T8/eccentrictouch2.0?node-id=0%3A1).

The design patterns are already listed there in the file, you can take a look at them. A

[2021-06-05 12:56] yashsehgal commented on #213
Both of you can interact with each other and get this feature done :) 🚀

[2021-06-05 13:08] yashsehgal commented on #212
Yes @Aiswarika 👍🏽
You can get started with this issue. If you want to look for any reference for this, Go to this [Figma](https://www.figma.com/file/yqbBQK5NKqkzobrsSpj2T8/eccentrictouch2.0?node-id=0%3A1) file and you will be good to go!

Good Luck 💯

[2021-06-06 03:56] shvmsh20 commented on #108
Can I work on this issue?. Plz assign it to me under LGM SOC

[2021-06-06 06:41] Aiswarika commented on #212
Thank you! I will be working on it as a part of LGM SOC after the 10th.

[2021-06-06 09:50] yashsehgal commented on #212
Sure @Aiswarika No such issues in that :)

[2021-06-06 09:55] yashsehgal commented on #108
Hey @shvmsh20 This feature is already implemented by @atharvagadkari05
The only thing which is remaining in this is the documentation part. We need to add this feature implementation in the docs project as well.

Here's the [documentation](https://designsystemsoss.github.io/eccentrictouch.docs/).
You can make the code changes by raising another issue for this the [docs](https://www.github.com/Desi

[2021-06-07 07:50] Nicks-tech opened #215 "add color box using HEX colors"
can  I work on this issue under LGM-SOC'21

[2021-06-07 08:00] yashsehgal commented on #215
Hey @Nicks-tech 👋🏽
Thanks for raising this issue. Could you please elaborate it more further or maybe start a discussion [here](https://github.com/DesignSystemsOSS/eccentrictouch/discussions) to discuss it with team members?

It's great to have you here 🚀

[2021-06-07 08:12] Nicks-tech commented on #215
I will be adding different color boxes as given in figma

[2021-06-07 08:55] yashsehgal commented on #215
No, those boxes are for color reference only.
You're talking about these, correct me if I am wrong.
![image](https://user-images.githubusercontent.com/62352288/120988417-2d135780-c79c-11eb-9b36-2e54e24d0fb5.png)

[2021-06-07 11:01] Nicks-tech commented on #215
oh sry,my bad I was not able  to understand it .Iam clossing this issue.

[2021-06-07 11:01] #215 closed

[2021-06-07 11:05] yashsehgal commented on #215
No problem, Feel to ask other queries as well 😊

[2021-06-07 17:19] SamikshaSankar opened #216 "Button to copy the text from the text field"
**Is your feature request related to a problem? Please describe.**
Instead for copy all the sentences we can copied these sentence in one click.

**Describe the solution you'd like**
Create a button .When user click on full sentence will be copied.

![copy](https://user-images.githubusercontent.com/52104082/121062350-961dbe00-c7e2-11eb-9e1f-937f07a5b7bf.png)

[2021-06-07 17:24] atharvagadkari05 commented on #216
Hey @SamikshaSankar, thanks for raising this issue 👍  .
Can you please elaborate on how could you implement this issue?
We can have a quick discussion over here.

[2021-06-07 17:28] SamikshaSankar commented on #216
https://designsystemsoss.github.io/eccentrictouch.docs/#/
https://designsystemsoss.github.io/community/#/

in which we have to contribute ...getting confused

[2021-06-07 17:29] yashsehgal commented on #216
Hey @SamikshaSankar 👋🏽
You can start a discussion [here](https://github.com/DesignSystemsOSS/eccentrictouch/discussions)

[2021-06-07 17:30] yashsehgal commented on #216
Where you want to contribute? In the main library or its documentation?

[2021-06-07 17:33] SamikshaSankar commented on #216
The issue I was raising is based on this site https://designsystemsoss.github.io/eccentrictouch.docs/#/

[2021-06-07 17:36] yashsehgal commented on #216
Oh, that's great. You can get started with it - I will assign you this issue there.

[2021-06-07 17:36] SamikshaSankar commented on #216
There are code for buttons , text,heading and so on..In that I want to put copy button It means user can get copied on a singleclick

[2021-06-07 19:20] WebShivam opened #217 "Add Layout Feature in the Project"
Adding Layout feature in this project can be a good idea like adding padding, margin, display and justify content etc.

[2021-06-07 19:26] yashsehgal commented on #217
I am converting this issue into a discussion. Let's work on this one 🚀

[2021-06-07 19:26] #217 closed

[2021-06-08 07:51] yashsehgal commented on #214
Hey 👋🏽
Actually, I tried implementing this but things were not working out. If you know what are the things breaking then I can assign you this task. 😃

[2021-06-08 07:54] ItsMeIshan commented on #214
I am also learning Github actions but I can also try to implement it best!

[2021-06-08 07:56] yashsehgal commented on #214
Sure, You can get started and if you have any issues/doubts feel free to discuss them here.

[2021-06-08 07:57] ItsMeIshan commented on #214
that's awesome!

[2021-06-08 15:02] harshita9621 commented on #213
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:05] harshita9621 commented on #129
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:05] harshita9621 commented on #169
Hii,  I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:06] Sumit11081996 commented on #213
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:07] Sumit11081996 commented on #129
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:08] Sumit11081996 commented on #169
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-08 15:16] RakeshCharpe commented on #169
I would like to work on this issue under LCM Soc21 please assign to me.

[2021-06-08 17:18] yashsehgal commented on #169
Hey, folks 👋🏽 thanks for reaching out. Love the response :)

Actually, this issue has been implemented but the documentation for this is not. So, I am going to transfer this issue to the
[docs project](https://www.github.com/DesignSystemsOSS/eccentrictouch.docs) and there you can ask for an assignment.

[2021-06-09 16:37] aktamoli0910 commented on #213
Hi, I would like to work on this issue under LGM SOC'21. Thank you

[2021-06-09 19:34] supzi-del opened #219 "Add dark mode toggle button"
Please can you assign this to me under LGM SOC'21?

[2021-06-09 19:40] yashsehgal commented on #219
Hey, @supzi-del 👋🏽 Thanks for raising this issue.

This issue will be having a long phase of implementation/development as there will be JS methods involved in order to implement this feature properly. I would like you to also start a discussion based on this. So that, people can collaborate as well.

[2021-06-09 19:47] supzi-del commented on #219
Yes, surely

[2021-06-09 19:49] yashsehgal commented on #129
@harshita9621 @Sumit11081996
Hey, folks 👋🏽 Sorry for the late response.

This issue has been implemented but not explained in the docs. So, If you want to contribute to the documentation part, I can assign this to you both.

There will be 2 issues regarding this in the docs project
- Issue for explaining the feature implementation
- Adding media (Images, GIFs) related to the feature implementation

[2021-06-10 04:05] PranavChauhan22 opened #220 "Adding more buttons"
**Is your feature request related to a problem? Please describe.**
The site has four buttons and I want to add four more.

**Describe the solution you'd like**
Will add more more buttons and will reflect the same in docs

**Describe alternatives you've considered**
N/A

**Additional context**
-

Please assign me this issue under lgm-soc participant

[2021-06-10 05:18] yashsehgal commented on #220
Hey @PranavChauhan22 👋🏽
What kind of buttons you want to add as this project follows a theme as well, so if you have any ideas then feel free to share them here. Maybe like a canvas file or something of your choice. 😃

Thanks for raising this issue. 🚀

[2021-06-10 10:11] atharvagadkari05 commented on #213
@harshita9621 @Sumit11081996 @aktamoli0910  You all can Join Discord as well as Slack for further discussion on this issue.
As we have plenty of people on this issue, I think we can distribute some work and have you all on the board.

[2021-06-10 15:14] supzi-del opened #222 "Add a pointer cursor on the buttons"
**Is your feature request related to a problem? Please describe.**
When the pointer is hovered on the buttons on homepage, pointer should be cursor type.

[2021-06-10 15:28] supzi-del commented on #219
Hey, where is the HTML file of the homepage located in the code?

[2021-06-10 15:30] yashsehgal commented on #222
Sure, You can get started working on this issue. Feel free to ask your doubts as well.

[2021-06-10 15:39] yashsehgal commented on #219
If by homepage you mean, testing file for testing CSS then the path is (https://github.com/DesignSystemsOSS/eccentrictouch/tree/master/src/tests)

[2021-06-10 15:47] supzi-del commented on #219
So where can I add this button?

[2021-06-10 15:57] supzi-del commented on #222
I should work only on the test files, right?

[2021-06-10 17:08] yashsehgal commented on #219
You can add the CSS for this in the `eccentric.scss` module.
`src\lib\eccentric.scss`

[2021-06-10 17:09] yashsehgal commented on #222
Yeah @supzi-del when you're doing changes in the CSS, you can test the `test` HTML files as well.

[2021-06-10 18:38] vimalprogrammer opened #226 "Add opacity effects in the buttons"
Add opacity effects to the button demo's under the Buttons section in components. It will give the feeling of pressing the button.

Reference below...
![1_xWjw0QixSN1EW8wxCcTGTw](https://user-images.githubusercontent.com/76787061/121579031-f2821700-ca48-11eb-8481-0e8535f1e0c9.jpeg)

I would like to work on this issue under LGMSOC, please assign me...

[2021-06-10 18:55] yashsehgal commented on #226
Thanks for raising this issue @vimalprogrammer 👋🏽
We can surely work on this one. Also, could you please make these hover images for all kinds of buttons?

[2021-06-10 20:01] WH0SUMIT opened #227 "cannot change the default font size of HTML elements in the CDN"
**Describe the bug**
 If the user adds the CDN link to their file, then they cannot use the default HTML h1-h6 elements font size so this can be an issue.

**Expected behavior**
we can make new classes for font sizes so users can use the HTML default size as well as the eccentric touch classes.

**Screenshots**
![image](https://user-images.githubusercontent.com/76095902/121589533-cb314700-ca54-11e

[2021-06-11 06:15] ItsMeIshan commented on #227
Hey @WH0SUMIT @yashsehgal personally I don't think we need new classes for this work I guess the by default in the library the heading tags (h1,h2,h3,h4,h5,h6) are grouped with (et-h1, et-h2, et-h3, et-h4, et-h5, et-h6) so if we can ungroup them then users can use <h1> tag or other heading tags to use default styling. If you agree then I can work on this.

[2021-06-11 06:22] yashsehgal commented on #227
Right @ItsMeIshan, We can work on this.

[2021-06-11 06:30] ItsMeIshan commented on #227
sure! then getting a start on this! 🚀🚀

[2021-06-11 06:47] yashsehgal commented on #227
Sure @ItsMeIshan 👍🏽 You can get started with this issue. I am assigning this to you :D

[2021-06-11 06:49] 1anshu-56 commented on #226
I want to work on this issue as I am familiar with this issue can you please assign it to me.

[2021-06-11 06:50] 1anshu-56 commented on #219
I want to work on this issue can you please assign it to me as I have work on issue like this earlier.

[2021-06-11 06:51] 1anshu-56 commented on #213
Please assign it to me I want to work on this issue as I have experience with this issue.

[2021-06-11 07:08] atharvagadkari05 commented on #226
Hey @1anshu-56 .  Please join our Discord server for further discussions and we'll be pleased if you come up with your designs and hover effects.
You can simply raise the issue and add the prototype(Figma Snapshot) of the button there.

[2021-06-11 07:18] yashsehgal opened #231 "Body Margins to be removed"
**Describe the bug**
The centering body margins to be removed from CSS.

[code]

The code snippet given above has to be removed from the main `eccentric.scss` and `eccentric.css` modules.

[2021-06-11 08:21] WH0SUMIT commented on #227
as you can see I suggested that we can increase the font size, not the size of the h1-h6 element, so if we can implement these different font size classes in the code then we use these properties to increase the font size of the text in any elements in our code like h1-h6, span, div, p, etc.

[2021-06-11 08:41] vimalprogrammer commented on #226
@yashsehgal could you please assign me this issue...

[2021-06-11 08:50] yashsehgal commented on #226
I have assigned you this issue, sorry I forgot and assigned this issue to myself 😅

[2021-06-11 08:51] vimalprogrammer commented on #226
Yeah! That's bcoz, I'm a little bit confused...😅

[2021-06-11 08:57] supzi-del commented on #219
Hey is this the proper page I'm working on? Can I make a PR for this headings page?

https://user-images.githubusercontent.com/78655439/121660588-08cbb980-cac1-11eb-9c77-96fe4b608188.mp4

[2021-06-11 09:10] aditi1403 commented on #231
I would like to work on this issue. Kindly assign it to me

[2021-06-11 09:24] yashsehgal commented on #231
Sure @aditi1403 👍🏽 You can get started with this issue

[2021-06-11 10:55] yashsehgal opened #236 "[Component Feature]: Button Group component to be added"
**Is your feature request related to a problem? Please describe.**
We need to implement a button group feature as well in the library.
![image](https://user-images.githubusercontent.com/62352288/121675869-99aa9100-cad1-11eb-85a8-805adc3f9700.png)

**Describe the solution you'd like**
The code/feature implementation will look something like this

[code]
The division will be holding all the buttons

[2021-06-11 12:19] WH0SUMIT opened #239 "Adding Border"
**Describe the solution you'd like**
Adding border properties to add or remove an element’s borders. and users can choose from all borders or one at a time.

a) Border-top
b) Border-bottom
c) Border-left
d) Border-right
e) Border (set border on all sides of the element)
f)  Border-none (no borders)

**Additional context**
I want to contribute to this feature. I'm planning to add this border proper

[2021-06-11 12:32] WH0SUMIT opened #240 "Adding Border Radius"
**Describe the solution you'd like**
Adding border radius property to an element to easily round its corners.

Border-radius ( for element to easily round its corners )
a) Border-round
b) Border-round-top
c) Border-round-bottom
d) Border-round-left
e) Border-round-right
f)  Border-circle

**Additional context**
I want to contribute to this feature. I'm planning to add this border radius property t

[2021-06-11 13:46] Rishabhraghwendra18 commented on #236
Hi. May I work on this issue ?

[2021-06-11 14:55] ItsMeIshan commented on #214
hey @yashsehgal https://github.com/apps/vercel
can you check it this would work for automatic deploys for PRs!

[2021-06-11 18:25] atharvagadkari05 opened #242 "Adding Border Colors"
This issue is related to add Border Color Property.

We would like to add the following border properties to our project: -
- Border-primary
- Border-invalid
- Border-warning
-  Border-valid
- Border-black
- Border-light

You can come up with the Figma file in the Discussion. No need to add all the border designs in the Figma file,
just give us an idea so that we'll have a greater idea of it.

[2021-06-12 02:18] RiyaGupta89 commented on #240
Can I work on this issue or it is already assigned?

[2021-06-12 04:29] ItsMeIshan commented on #242
@WH0SUMIT @yashsehgal do you mean that we have to suggest a colour scheme for the different border properties? or please specify what do we mean by giving the idea here?

[2021-06-12 04:36] yashsehgal commented on #242
Hey, @ItsMeIshan This issue is basically listed for managing border properties.
All these border classes listed above are the colors we are using in the project (invalid, warning, valid)
Where (primary, secondary) will be based on default blue color.

And, (black, light) will be black border and white border, respectively.

Also, I think instead of using black, let's use `dark`

Do you want to add

[2021-06-12 05:19] ItsMeIshan commented on #242
so it means that we have to give designs/ideas for designs for different border classes as mentioned above.
@yashsehgal

[2021-06-12 06:14] ItsMeIshan commented on #242
@yashsehgal @WH0SUMIT are you talking about something like this
https://www.figma.com/file/YZ1v2F4uYd2iqLYkQ7rHR7/border-colors?node-id=0%3A1

[2021-06-12 06:46] atharvagadkari05 opened #247 "Adding Border Width"
In this issue, we have to add border width.
Unit of these widths will be in `em`.

a) Border-1
b) Border-2
c) Border-3
d) Border-4
e) Border-5

Add accordingly and in case of any queries, you can participate in the discussions.

[2021-06-12 08:06] ItsMeIshan commented on #247
hey, @atharvagadkari05 the value of em will be 1,2,3,4,5 according to that border classes?

[2021-06-12 08:11] ItsMeIshan commented on #247
okay, then I can get started to work on this issue. @yashsehgal

[2021-06-12 08:13] yashsehgal commented on #247
what do you mean by `em` unit, because 1, 2, 3, 4, 5 `em`s are too large values for a border?

[2021-06-12 08:15] ItsMeIshan commented on #247
yup that's what i thought

[2021-06-12 08:18] yashsehgal commented on #247
Let's plan out the widths as well. Like, on using `et-border-1` the border-width actually will be `0.2em`, then `et-border-2` will be `0.4em` and so on. What do you think @ItsMeIshan @atharvagadkari05 @WH0SUMIT ??

[2021-06-12 08:20] ItsMeIshan commented on #247
@yashsehgal that's awesome we can do this!

[2021-06-12 08:21] yashsehgal commented on #247
+ one more thing

Try using the naming conventions as `et-bw-VALUE_OF_WIDTH`
where `bw` means border-width to keep the features easy to use.

[2021-06-12 08:28] ItsMeIshan commented on #247
it means we can go on like ```et-bw-1```, ```et-bw-2``` and so on @yashsehgal

[2021-06-12 08:28] yashsehgal commented on #247
right! @ItsMeIshan 👍🏽

[2021-06-12 08:29] yashsehgal commented on #247
I have assigned this issue to you, Go for it 🚀

[2021-06-12 08:30] ItsMeIshan commented on #247
cool getting started with it!

[2021-06-12 10:50] WH0SUMIT opened #249 "refactoring of Root Variable"
**Describe the bug**
There are root variables in the SCSS code. root variable in SCSS is not the correct way to represent the SCSS variables.

**Expected behavior**
The correct way to represent the Sass variables is simple: assign a value to a name that begins with $, and then you can refer to that name instead of the value itself. But despite their simplicity, they're one of the most useful tools

[2021-06-12 11:29] WH0SUMIT commented on #240
@RiyaGupta89 I'm Working on this issue but You can create another one there are plenty of features and bugs so find out one and implement it.

[2021-06-12 11:32] Amrutha1101 opened #251 "Favicon"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-12 12:12] WH0SUMIT commented on #251
are you saying that you're going to create all the favicons and the designs of the favicons with your creativity???

[2021-06-12 12:31] WH0SUMIT commented on #242
Yes, @ItsMeIshan, all the border colors are those colors that are present in our project so try to implement the same colors and for the black one change it to the dark it will be more expressive.

[2021-06-12 12:45] starrohan999 opened #252 "Can we add Copyright section in footer of part documentation page."
**Is your feature request related to a problem? Please describe.**
There is no Copyright section in the footer of the page.

**Screeshot**
![2021-06-12_LI](https://user-images.githubusercontent.com/71714344/121776373-190b9380-cbaa-11eb-8e3f-d88ba1f28e22.jpg)

**Additional context**
In this part would like to add.

[2021-06-12 12:52] atharvagadkari05 commented on #247
@yashsehgal Sorry, I forgot to mention the exact no. but I think this looks great.

[2021-06-12 12:53] atharvagadkari05 commented on #247
@ItsMeIshan You can proceed with this and please remember the class naming convection specified by @yashsehgal.

[2021-06-12 13:37] atharvagadkari05 commented on #252
@starrohan999 Thanks for raising this issue, but I think we have to first implement the footer and then we can do other things like footer.

[2021-06-12 13:47] Aditi-Singh16 commented on #239
If no one's working on this issue, can you assign it to me?.

[2021-06-12 13:51] yashsehgal commented on #251
Hey @Amrutha1101 👋🏽 Hope you're doing great
By adding a favicon to the website, Are you talking about the docs website of this project?

[2021-06-12 13:52] yashsehgal commented on #239
@WH0SUMIT what's the status of other related issues? If you're working on them, let me assign this to @Aditi-Singh16

[2021-06-12 14:27] yashsehgal opened #253 "NPM Package proper configuration"
**Describe the bug**
The NPM Package for the eccentric touch has been published successfully and is downloadable as well. Currently, the file entry points are not working perfectly.

-  Here's the [NPM Published Package](https://www.npmjs.com/package/eccentrictouch)

[2021-06-12 14:52] ItsMeIshan commented on #242
@yashsehgal will there be naming conventions for adding border colors too? like ```et-b-primary``` and so on...

[2021-06-12 16:10] Ankita297 opened #258 "Image Shapes"
In this issue we have different shapes of images

1)  Circle image
2)  Thumbnail image
3)  rounded corner image

or any other shape

And in case of any query you can ask   here .

[2021-06-12 16:29] marizvi commented on #251
I would like to work on this issue, please assign this one to me..

[2021-06-12 17:16] atharvagadkari05 commented on #212
Hey @Aiswarika, what's your status on this issue?
are you still working on this??

[2021-06-12 18:16] starrohan999 commented on #252
Ok sure @atharvagadkari05  Sir

[2021-06-13 05:00] Amrutha1101 commented on #251
@yashsehgal  yes adding favicon to the doc website to each of the components(button,headings..)

[2021-06-13 12:31] RiyaGupta89 commented on #240
Sure, np. Good luck!

[2021-06-13 14:36] ItsMeIshan commented on #253
hey @yashsehgal how can I know if I did some changes for fixing the npm package and it works fine or not?

[2021-06-13 17:07] yashsehgal commented on #253
🤔🤔 I think you have to publish the new package and test it out. Let's search for methods as well 😊

[2021-06-14 04:34] utkarshgoel10 opened #265 "Documentation"
Some minor changes could be made in the introduction paragraph, to make it sound much more appealing.

[2021-06-14 04:34] utkarshgoel10 commented on #265
Please assign this issue to me.

[2021-06-14 04:40] yashsehgal commented on #265
Sure, @utkarshgoel10 👍🏽 You can get started with this one.

[2021-06-14 05:54] ashuydv opened #266 "Cards Alignment and Improvising"
So, in this issue, the cards is not looking nice, so how can we improvise it is, we can make image and align the cards in center,
and we can align all of them in center
![image](https://user-images.githubusercontent.com/67309431/121845243-c691ba80-cd02-11eb-8673-ad3a9804e391.png)

Do assign me this issue...

[2021-06-14 06:08] nimishbhandari commented on #265
Can i work on this please?

[2021-06-14 06:11] yashsehgal commented on #265
Hey 👋🏽 As of now, this issue has been assigned to @utkarshgoel10
Feel free to look into other issues as well :D

[2021-06-14 06:28] ashuydv commented on #266
assign me this issue

[2021-06-14 07:04] atharvagadkari05 commented on #266
@ashuydv  Can you explain this issue further ??
Do you want the entire card container to be aligned at the center?

[2021-06-14 07:11] WH0SUMIT commented on #258
hello, @Ankita297 can you please elaborate more on this issue, because we can implement circle images  & rounded corner images using border-radius properties.

[2021-06-14 07:11] itsij commented on #258
I would to work on this issue. Plz assign this me @Ankita297

[2021-06-14 07:14] Ankita297 commented on #258
Yes we can implement them using border radius but like we can use  pre define class like if  we write circle-image class the image will be in circular shape . clear or not ?

[2021-06-14 07:18] Sejal2801 commented on #266
Assign it to me

[2021-06-14 07:19] Sejal2801 commented on #252
Please assign it to me

[2021-06-14 07:20] ashuydv commented on #266
What we can do is either add a heading, like Card Landscape, Card Portrait or we can align them in center with a single heading cards and please I commented first to assign me this issue  ....

[2021-06-14 07:22] Sejal2801 commented on #220
Please assign it to me

[2021-06-14 07:31] Ankita297 commented on #258
@WH0SUMIT you have already one issue assigned ,So for now i am assigning this issue to @itsij  .

[2021-06-14 07:32] Ankita297 commented on #258
@itsij You may go ahead and if you face any query Please ask .

[2021-06-14 07:49] yashsehgal commented on #258
Hey, @Ankita297 @itsij This property is already implemented in the border-property sprint. With that, we can do the same thing.

[2021-06-14 07:52] yashsehgal commented on #258
@itsij You can get started with any other issue

[2021-06-14 07:52] #258 closed

[2021-06-14 09:19] RiyaGupta89 opened #267 "Footer and Navbar for the website"
Hey, the website does not contains a footer and the navbar. If you think it is a valid issue then please assign me the issue. I will create one. The navbar will contain a logo at the left, and a home link icon and the search bar.

[2021-06-14 09:32] RiyaGupta89 opened #268 "Copy button to copy the code"
![1](https://user-images.githubusercontent.com/72425181/121870977-34e57580-cd21-11eb-9486-20193c7bea25.png)
I can create a copy button in the href box so that if a user wants to copy the code, instead of first selecting and then copying, the user can simply click on that copy button to get the code copied then he/she will only have to paste the code wherever they want to.

[2021-06-14 10:31] Rishabhraghwendra18 commented on #236
@yashsehgal do you have discord or slack server?

[2021-06-14 11:56] atharvagadkari05 commented on #268
@RiyaGupta89 I'm assigning this issue to you.
Make sure you push your code on a separate branch.

[2021-06-14 13:31] yashsehgal commented on #236
Click [here](https://discord.gg/w7gYrmPWkF) to join

[2021-06-14 13:40] yashsehgal opened #269 "[COMPONENT]: Carousel feature to be implemented"
**Is your feature request related to a problem? Please describe.**
We need to add a Carousel feature as well in the library.

**Describe the solution you'd like**
The component first needs to be designed and properly planned before implementation. You can get started with a basic design of the implementation you're planning and start coding the CSS part.

**Describe alternatives you've considered*

[2021-06-14 16:08] WH0SUMIT commented on #269
@yashsehgal I want to contribute to this issue, I have a plan and good knowledge about this feature, and I know how we can implement this feature in our code.

please assign this issue to me.

[2021-06-15 04:08] puneetkaur2929 opened #271 "Adding Hovering effects to buttons"
Hey @yashsehgal @atharvagadkari05

I wish to add different hovering effects to buttons.

kindly assign this issue to me under LGM SOC '21 .

[2021-06-15 04:28] Khushi-agarwal opened #272 "Footer hover effect"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The footer icons do not have any hover effect on the website and also no colour. I would like to add both these things and also enhance it.
Please assign it to me under lgm-soc.

[2021-06-15 05:05] atharvagadkari05 commented on #267
@RiyaGupta89  This issue belongs to the [Community](https://github.com/DesignSystemsOSS/community) section.
You can create an issue there.

[2021-06-15 06:59] codebuzzer01 opened #274 "Add complete another section of CSS tables"
**Is your feature request related to a problem? Please describe.**
Usually tables form a major component of CSS which are used now and then. Without this feature, CSS library would seem incomplete.

**Describe the solution you'd like**
I would like to add an another complete section which will describe all CSS tables along with their snippets.

[2021-06-15 07:00] codebuzzer01 commented on #274
@yashsehgal  if u find it suitable, then assign me this under LGM-SOC'21.

[2021-06-15 07:27] yashsehgal commented on #274
That's a great idea @codebuzzer01 👍🏽 We were also thinking about the same feature a few days before :)

I will assign this issue to you, also the flow to development of this issue will be
- First, you need to create a proper UI component design for tables
- Then after the design review, you can get started with the CSS implementation part

Good Luck! 🚀

[2021-06-15 08:46] codebuzzer01 commented on #274
Thanks @yashsehgal  :)

[2021-06-15 09:08] atharvagadkari05 commented on #272
@Khushi-agarwal All the website-related issues will be taken only on [Community](https://github.com/DesignSystemsOSS/community).
You may list this issue there.

[2021-06-15 09:12] Khushi-agarwal opened #275 "Technologies used animation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
In the cards of the technologies used,I would like to add flip card animation.
Please assign it to me under lgmsoc.

[2021-06-15 09:53] harsh72835 commented on #157
in this issue we have to design complete style guide ,right? like some documentation page which we have for bootstrap and material design page

[2021-06-15 11:22] akankshashirure commented on #271
hey , i wish to add hovering  effects to buttons , can you please assign this to me.

[2021-06-15 13:50] yashsehgal commented on #271
Hey @puneetkaur2929 👋🏽
What kind of hovering effects you're planning to add

[2021-06-15 17:08] codebuzzer01 commented on #274
hey @yashsehgal
check it out,  if its okay  I will continue with this .

https://user-images.githubusercontent.com/52864294/122094830-3a7ab280-ce2a-11eb-8356-edd160bbc2f1.mp4

[2021-06-15 17:09] PranavChauhan22 opened #276 "Adding a navbar component in library"
**Is your feature request related to a problem? Please describe.**
I want to add a navbar component to the library as in some sites like bootstrap.

**Additional context**
 I have fully understood the library workflow and want to add an additional component to library.Please assign this issue to me under LGMSOC participant.

[2021-06-15 17:19] puneetkaur2929 commented on #271
@yashsehgal
Following Hovering effects i will be applying on buttons:
1.Animation
2. Border change
3. color change
4. scale
5. rotations
6. opacity changes
7. shadow hover effect
8. button grows on hovering.
Can explore more as well.

[2021-06-15 17:46] yashsehgal commented on #276
Hey 👋🏽 @PranavChauhan22
We have already created a navbar component but it's not working correctly. You as a contributor can design the component from scratch. I am assigning this issue to you 👍🏽

[2021-06-15 19:59] Khushi-agarwal commented on #275
@yashsehgal I would like to work not this.

[2021-06-15 20:20] yashsehgal commented on #275
Could you please explain this issue and then maybe I can assign it to you

[2021-06-15 20:22] Khushi-agarwal commented on #275
Im the technologies used section wherein html,css...are mentioned there I wang to add flip card animation so that on hovering over any card it would display it's name and on the front there would only be the picture/icon.

[2021-06-16 06:52] ItsMeIshan commented on #253
I tried publishing the package but it gave some git errors and also for publishing I have to change the name of the package. still looking for some methods to try it out.

[2021-06-16 07:31] harshita9621 commented on #271
@yashsehgal , can you please assign this to me.

[2021-06-16 07:31] harshita9621 commented on #272
@yashsehgal , can you please assign this to me.

[2021-06-16 12:29] #272 closed

[2021-06-16 17:45] puneetkaur2929 commented on #271
@yashsehgal
 What's your thought regarding hovering effects?

[2021-06-16 19:17] ishitakapoor26 opened #278 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:18] ishitakapoor26 commented on #278
@design-systems-oss pls assign this issue to me.

[2021-06-17 05:58] Rishabhraghwendra18 commented on #236
@yashsehgal may you guide me where to make my changes and how to check my changes ?

[2021-06-17 07:52] ishitakapoor26 commented on #278
Like this
![score card](https://user-images.githubusercontent.com/78542333/122354833-01982600-cf6f-11eb-8b85-d9918a42764c.PNG)

[2021-06-17 10:01] WH0SUMIT opened #280 "Shadow Properites"
I want to contribute to this feature. Please Assign this issue to me.

[2021-06-17 10:03] tjanhvi opened #281 "Change the background look"
Please assign me this issue

[2021-06-17 10:06] tjanhvi opened #282 "Change the position of menu button"
I want to change the menu button position n make a good look size that looks great.
Please assign me this issue.

[2021-06-17 10:09] tjanhvi commented on #282
okay :)

[2021-06-17 10:11] WH0SUMIT commented on #281
please give more details on this issue.

[2021-06-17 10:17] yashsehgal commented on #280
Go ahead @WH0SUMIT 👍🏽

[2021-06-17 10:22] tjanhvi commented on #281
I want to change the background color so it looks good

[2021-06-17 10:24] tjanhvi opened #283 "Add copyright design"
Want to give a copyright design at the bottom of the document.
I would like to do this part

[2021-06-17 11:48] #226 closed

[2021-06-18 14:21] harshita9621 commented on #281
Please assign me this issue

[2021-06-18 14:26] harshita9621 commented on #242
can you please assign this to me.

[2021-06-18 14:27] harshita9621 commented on #240
can you please assign this to me.

[2021-06-18 14:28] harshita9621 commented on #239
can you please assign this to me.

[2021-06-19 20:11] ishitakapoor26 opened #286 "Design Logo"
Design Logo for Eccentrictouch

[2021-06-19 20:11] ishitakapoor26 commented on #286
@design-systems-oss pls assign me this issue.

[2021-06-19 20:14] yashsehgal commented on #286
Sure @ishitakapoor26 you can get started 👍

[2021-06-20 03:18] harshita9621 commented on #282
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-22 17:36] Umesh-01 opened #288 "add links to the badges"
**Is your feature request related to a problem? Please describe.**
 add links to the badges present in README file so that the user can be redirected to the related webpage/ section.

Now after clicking on badges, like for example when we are clicking at issues badge it is taking us to this page (see image) which is of no use.

![image](https://user-images.githubusercontent.com/83420185/122972857-

[2021-06-22 17:37] Umesh-01 commented on #288
@yashsehgal Should I work on this issue??

[2021-06-24 02:48] coding-geek21 commented on #213
I would like to work on this, I will complete within a day, please assign me @yashsehgal

[2021-06-25 03:26] Amrutha1101 commented on #268
Is anybody working on this issue(up for grab label found)?

[2021-06-25 09:13] priyaastha opened #289 "Add a footer to the website"
**Is your feature request related to a problem? Please describe.**
There should be a footer with copyright and icons and tags

**Describe the solution you'd like**
I would like to add the footer

[2021-06-25 09:14] priyaastha opened #290 "Add a custom Scrollbar to the webpage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-25 09:16] priyaastha commented on #290
Please assign this issue under LGMSOC21
@yashsehgal @ItsMeIshan @nicoolel

[2021-06-25 09:17] priyaastha commented on #289
Please assign this issue under LGMSOC21
@yashsehgal hgal @ItsMeIshan Ishan @nicoolel oolel

[2021-06-29 07:59] saloni-15 opened #291 "Add darker shades of primary colored buttons"
We can add darker shade buttons for each primary-colored button.

As there are people who prefer to use dark shades over vibrant colors.

If this idea convinces you, I will surely like to work on this issue.

[2021-06-29 17:23] ROHAN842 opened #292 "Make Scrollbar Colorful and customizable"
**Describe the solution you'd like**
I would like to make the scrollbar colorful with help of animations.

**Additional context**
![image](https://user-images.githubusercontent.com/61961107/123841094-c6adcf00-d92c-11eb-8fb7-ebdab9a3923c.png)

[2021-07-01 06:18] #290 closed

[2021-07-01 06:18] #289 closed

[2021-07-06 18:11] Ayan-thecodeking opened #293 "add admin section in readme"
please assign me for this @yashsehgal ...adding admin section in readme
under LGMsoc
thanks :)

[2021-07-07 03:21] yashsehgal commented on #293
Hey, @Ayan-thecodeking 👋🏽 Thanks for raising the issue.
Actually, We're not currently planning to add the admin details in the README.md file.

[2021-07-07 03:21] #293 closed

[2021-07-13 08:52] Sejal2801 commented on #242
Please assign it to me

[2021-07-13 08:53] Sejal2801 commented on #240
Please assign it to me

[2021-07-13 08:53] Sejal2801 commented on #239
Please assign it to me

[2021-07-13 09:26] #275 closed

[2021-07-13 12:09] Garima-7 opened #294 "Make width of Buttons Equal."
![button](https://user-images.githubusercontent.com/83363645/125449053-722bec14-f5d1-40c4-baa6-d58a04bcab9a.png)

[2021-07-13 12:10] Garima-7 commented on #294
Assign this to me.

[2021-08-02 06:29] ROHAN842 commented on #292
@yashsehgal kindly assign this issue to me under LGMSOC

[2021-09-14 04:45] #239 closed

[2021-09-14 04:45] #240 closed

[2021-09-14 04:45] #242 closed

[2021-09-14 04:45] #247 closed

[2021-09-14 04:45] #249 closed

[2021-09-14 04:45] #251 closed

[2021-09-14 04:45] #252 closed

[2021-09-14 04:45] #253 closed

[2021-09-14 04:45] #265 closed

[2021-09-14 04:45] #266 closed

[2021-09-14 04:45] #268 closed

[2021-09-14 04:45] #269 closed

[2021-09-14 04:45] #271 closed

[2021-09-14 04:45] #274 closed

[2021-09-14 04:45] #276 closed

[2021-09-14 04:45] #278 closed

[2021-09-14 04:45] #280 closed

[2021-09-14 04:45] #281 closed

[2021-09-14 04:45] #282 closed

[2021-09-14 04:45] #283 closed

[2021-09-14 04:45] #286 closed

[2021-09-14 04:45] #288 closed

[2021-09-14 04:45] #291 closed

[2021-09-14 04:45] #292 closed

[2021-09-14 04:45] #294 closed

[2021-09-14 04:45] #129 closed

[2021-09-14 04:45] #157 closed

[2021-09-14 04:45] #212 closed

[2021-09-14 04:45] #213 closed

[2021-09-14 04:45] #214 closed

[2021-09-14 04:45] #219 closed

[2021-09-14 04:45] #220 closed

[2021-09-14 04:45] #222 closed

[2021-09-14 04:45] #227 closed

[2021-09-14 04:45] #231 closed

[2021-09-14 04:45] #236 closed

[2021-09-14 04:59] yashsehgal opened #297 "Adding a gulpfile to compile sass code"
**Is your feature request related to a problem? Please describe.**
We need to add a `gulpfile` to compile all the SASS modules in the project to CSS in another directory.

**Describe the solution you'd like**
The gulpfile will be having a set of tasks that will continuously compile the SASS code for our project. It will help us to make things more structured and efficient.

[code]

[2021-09-15 15:30] yashsehgal opened #298 "Adding CSS-core properties to eccentrictouch"
CSS-core properties have the following methods, which we need to implement.

- [x] Margins
- [x] Paddings
- [ ] Flex properties
- [ ] Grids
- [ ] Display
- [ ] Positions
- [ ] Floats
- [ ] Alignments
- [ ] Widths, Max/Min-widths
- [ ] Heights, Max/Min-heights
- [ ] Transform, Transition, Rotations, Scale properties
- [ ] Gaps
- [ ] line-heights
- [ ] Colors
   - [ ] Primary colors
   - [ ] Statefu

[2021-09-19 22:45] #298 closed

[2021-09-20 18:39] yashsehgal opened #303 "Implement color schemes as utility classes"
Create a set of color schemes as CSS utility classes for eccentric touch. The color details are given in the [core-properties page of Figma](https://www.figma.com/file/qvC8lBcNmnQevUDlTQROhG/?node-id=2%3A4). Do take a reference while working on this feature.

**Feature progress**
- [x] Neutral colors
- [x] Base colors
- [x] State colors

[2021-09-30 10:31] Jaspreet099 opened #308 "link not working/ put valid link"
### What would you like to share?

![image](https://user-images.githubusercontent.com/75212002/135439256-7d57ba64-53fc-434e-a016-4bd815b6a051.png)

### Additional information

_No response_

[2021-09-30 19:05] rishabhrathore055 commented on #303
Should I Work On Yellow Color scheme

[2021-09-30 21:58] rishabhrathore055 commented on #303
![image](https://user-images.githubusercontent.com/77366500/135535558-1f650efd-0098-4387-bc5d-8aa6657fd122.png)

@yashsehgal

[2021-10-01 04:54] yashsehgal commented on #303
@rishabhrathore055 Do try to stick with the gradient sequence. In this screenshot, the yellow color shades are looking very randomly generated.

[2021-10-01 05:56] yashsehgal opened #309 "[FEATURE] Create a CONTRIBUTING guidelines file"
### ⭐ Suggestion

We need to create a complete contributing guidelines file listing all the best contribution practices. The `CONTRIBUTING.md` file should have the following points.

- [ ] Welcome note section
- [ ] Branching system section
- [ ] How to write commit messages and PR summaries
- [ ] Basic SCSS related points

### 💻 Use Cases

This file will be helpful for the upcoming/new contributo

[2021-10-01 06:02] yashsehgal opened #310 "[FEATURE] Create a README file for the project"
### ⭐ Suggestion

We need to work on a README file in order to make this project more understandable and usable. The things we need to add in the README docs

- [ ] Introduction/Project description
- [ ] Tech Stack (Languages and Libraries)
- [ ] Local environment setup details
- [ ] Guidelines section - with a link to redirect to the `CONTRIBUTING.md` file (for this refer to #309 )

### 💻 Use Cas

[2021-10-01 06:19] vivekkj123 commented on #310
Assign to me. I will work on Readme

[2021-10-01 06:27] yashsehgal opened #311 "[FEATURE] Create elevations/shadow properties for components"
### ⭐ Suggestion

Implement shadow/elevation properties for components such as cards, images, buttons, and more. The shadow properties will be having the following variations

- [x] Default shadow
- [x] Light shadow
- [x] Medium shadow
- [x] High shadow

The following shadow variations are mentioned in the [Figma file](https://www.figma.com/file/qvC8lBcNmnQevUDlTQROhG/Eccentric-Touch-Design-System

[2021-10-01 11:30] yadavnarun commented on #311
Assign it to me

[2021-10-01 12:06] yjaiswal05 commented on #309
Hey, can i work on this issue?

[2021-10-01 19:14] rishabhrathore055 commented on #303
@yashsehgal  Sure I'll Update You

[2021-10-01 19:15] rishabhrathore055 commented on #303
@yashsehgal  Sure I'll Update very soon

[2021-10-06 02:16] MatteuSan commented on #311
Also, do we want users to customize the shadow color? or nah?

[2021-10-15 19:30] yashsehgal opened #318 "[FEATURE] New project addition feature"
### ⭐ Suggestion

Can create a feature to create a new project entry/card for the dashboard-ui.

- [ ] Create a popup-modal form to take new project details and store them in the browser's local storage for future rendering.
- [ ] Can also give a "Remove project" feature for deleting project instances.

UI to implement this feature
- [ ] Pop-up modal form
- [ ] local-storage connectivity and UI re

[2021-10-15 19:31] #318 closed, assigned to nobody

[2021-10-17 10:29] ayushsoni1010 opened #319 "[FEATURE] Add a favicon to Docusaurus"
### ⭐ Suggestion

Changing the favicon of default Docusaurus favicon to the logo of TheDesignSystems as a favicon in eccentrictouch documentation of Docusaurus.

### 💻 Use Cases

This feature will be more adorable by adding favicon.ico of TheDesignSystems.

### ❌ Related Problems

This is not related to any problem

[2021-10-29 13:21] MatteuSan opened #322 "[FEATURE] Prefixes for CSS custom properties, and class names."
### ⭐ Suggestion

Add prefixes to CSS custom properties, and class names for pre-made components/widgets
[code]

### 💻 Use Cases

_No response_

### ❌ Related Problems

_No response_

[2021-12-19 15:36] #319 closed

[2021-12-19 15:37] yashsehgal commented on #310
Thanks for working on this @snehafarkya

[2021-12-19 15:37] #310 closed

[2021-12-19 15:38] #303 closed

[2021-12-19 15:38] #297 closed

[2021-12-19 15:38] yashsehgal commented on #311
Thanks for working on this feature @MatteuSan

[2021-12-19 15:38] #311 closed

[2021-12-19 15:38] #309 closed

[2021-12-19 15:40] yashsehgal opened #325 "[Docs]: Documenting typographies and it's features (class-methods)"
### What would you like to share?

Work on documenting typography features and class-methods using for the documentation.

### Additional information

_No response_

[2021-12-21 17:03] yashsehgal opened #326 "[FEATURE] CodeSandbox template features for using eccentric touch"
### ⭐ Suggestion

Need to provide buttons for using a template for testing eccentric touch features.
The list of buttons will be given where templates will be for `Plain HTML, CSS, JS`, `React`, `Vue`.

- Create templates on codesanbox
- Link templates of all the type using buttons on the docs

### 💻 Use Cases

This feature will give users/developers a power to directly get a taste of eccentric to

[2021-12-29 21:23] Anubhavdevv opened #328 "[FEATURE] Improve Footer of the Website"
### ⭐ Suggestion

The Website is Designed nicely but I think footer is not customizable It will be great to change the design of Footer, I would like to contribute to it

### 💻 Use Cases

Improve UI

### ❌ Related Problems

_No response_

[2021-12-30 09:34] yashsehgal commented on #328
Hey, thanks for raising this issue @Anubhavdevv
We're using docusaurus for our documentation website. The footer that we are using is from their service only.
If you have some ideas on how we can re-design that then feel free to share your design ideas. A figma file, screenshot would be great.

Resources
Docusaurs: https://docusaurus.io/

[2021-12-30 09:34] yashsehgal commented on #326
This feature has been added ✅

[2021-12-30 09:34] #326 closed